.info {
  height: 3rem;
  background-color: black;
  color: #97bf1c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.info span {
  color: white;
}
