.cars {
  display: grid;
  grid-template-columns: 180px 180px;
  column-gap: 10px;
  row-gap: 15px;
  margin-top: 2rem;
}

.detail_btn {
  text-decoration: none;
  color: #97BF1C;
  font-weight: 600;
}

@media (min-width: 992px) {
  .cars {
    grid-template-columns: 180px 180px 180px 180px;
    column-gap: 5px;
  }
}
