.details {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0 20px 0;
}

.details li {
  border: 1px solid #97bf1c;
  padding: 1rem;
  margin-top: 1rem;
}
