.title {
  text-align: center;
}

.appointment_info {
  color: #97bf1c;
  font-weight: bold;
}

.appointment_info span {
  color: black;
}

.detail_btn {
  text-decoration: none;
  color: #97bf1c;
  font-weight: 600;
  width: 100px;
  margin-top: 20px;
}
