@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

.form-control {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.form-control input:focus {
  outline: none;
  background-color: rgba(152, 192, 31, 0.2);
}

.control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

button, .details {
  font: inherit;
  background-color: #97bf1c;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions button {
  margin-left: 1rem;
}

button:hover,
button:active {
  background-color: white;
  border-color: #97bf1c;
  color: #97bf1c;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.form {
  width: 300px;
  margin: 3rem;
}

.form h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
}

.form a {
  color: #97bf1c;
  text-align: center;
}

.form-actions {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.invalid input:focus {
  border-color: #f80;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
